.mood-box{
  height: 100%;
    border: none;
    font-family: "StorytelEuclid" , -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    outline: none;
}

.filled-button{
    opacity: 1;
}

.opacity-button{
    opacity: 0.5;
}