.mood-swipe{
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: center;
   
}

.mood-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}